[
    {kernel, [
        {error_logger, {file, "logs/eunit_kernel.log"}}
    ]},
    {sasl, [
        {sasl_error_logger, {file, "logs/sasl.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "logs/sasl"},     % Log directory
        {error_logger_mf_maxbytes, 104857600},  % 100 MB max file size
        {error_logger_mf_maxfiles, 50}          % 50 files max
    ]},
    {lager, [
        {handlers, [{lager_file_backend, [{file, "logs/eunit_lager.log"}, {level, debug}]}]},
        {error_logger_redirect, true},
        {error_logger_hwm, 50000},
        {crash_log, "logs/crash.log"}
    ]},
    {yaws, [
        {conf, "../../test/itest-yaws.conf"}
    ]},
    {auth, [
    ]}
].
