[
    {kernel, [
        {error_logger, {file, "logs/eunit_kernel.log"}}
    ]},
    {sasl, [
        {sasl_error_logger, {file, "logs/sasl.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "logs/sasl"},     % Log directory
        {error_logger_mf_maxbytes, 104857600},  % 100 MB max file size
        {error_logger_mf_maxfiles, 50}          % 50 files max
    ]},
    {lager, [
        {handlers, [{lager_file_backend, [{file, "logs/eunit_lager.log"}, {level, debug}]}]},
        {error_logger_redirect, true},
        {error_logger_hwm, 50000},
        {crash_log, "logs/crash.log"}
    ]},
    {yaws, [
        {conf, "../../test/itest-yaws.conf"}
    ]},
    {auth, [
        {jwt_pub_file,          "../../test/jwt.pub"},
        {jwt_key_file,          "../../test/jwt.pem"},
        {jwt_key_pass,          "TestJWT123"},
        {jwt_issuer,            "auth"},
        {jwt_validity,          360000},
        {auth_module,           auth_type_file},
        {auth_opts,             []},
        {users,                 "../../users.cfg"},
        {static_files_appmod,   auth_static}, % {path, "../../priv/www"} or {app, axb_webui, "priv/www"}
        {return_form_on_error,  false},
        {ldap, [
            {ip, "localhost"},
            {dn, "litcorp"},
            {opts, [
                {port, 8389},
                {ssl,  false},
                {log,  false}
            ]}
        ]}
    ]}
].
